@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
div#content{
    font-family: 'Gochi Hand', cursive;
}
img{
    height: 75%;
    width: 75%;
    object-fit: contain;
}